<%= form_for (@article) do |article| %>
<%= render 'shared/errors' %>

  <div class="control-group">
    <%= article.label :title %>
    <div class="controls">
      <%= article.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= article.label :content %>
    <div class="controls" placeholder="Start typing your article...">
      <%= article.text_area :content, rows: "20", cols: "100" %>
    </div>
  </div>

  <div class="category-control">
    <%= article.label 'File under at least one category' %>
    <% Category.all.order(name: :asc).each do |category| %>
     <div>
        <%= check_box_tag "article[category_ids][]", category.id %>
        <%= category.name %>
    </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= article.submit %>
    <%= link_to 'Cancel', articles_path %>
  </div>

<% end %> 

