
	<h4>Edit Article</h4>
	

		
<%= form_for :article, url: article_path(@article), method: :patch do |article| %>
	<% if @article.errors.any? %>
    <div>
    	<h4><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h4>
      	<ul>
      		<% @article.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      		<% end %>
      	</ul>
    </div>
  <% end %>


	<%= article.label :title %>
	<%=article.text_field :title %></br>

	<%= article.label :content %>
	<%=article.text_area(:content, :cols => '40px', :rows => "30") %></br>

	<div class="form-actions">
		<%= article.submit %>
		<%= link_to 'Back', articles_path %>
	</div>
<% end %>


		

