
	<h4>Edit Article</h4>
	

<form class="form-horizontal" role="form">	
	<div class="form-group">
		
	<%= form_for @article do |article| %>
		<%= article.label :title %>
		<%=article.text_field :title %></br>

		<%= article.label :content %>
		<%=article.text_area(:content, :cols => '40px', :rows => "30") %></br>

		<%= article.submit %>

	<% end %>
</div>
</form>

		

